.container {
    display: flex;
    width: 800px;
    height: 400px;
    border: 2px black solid;
}

.green {
    background-color: #2ecc71;
    height: 8%;
    width: 70%;
}

.blue {
    background-color: #2980b9;
    height: 8%;
    width: 30%;
}

.red {
    background-color:#e74c3c;
    height: 42%;
    width: 30%;
}